<h3>Here's a potential new best friend: </h3>
<h2>Name: <br><%= @dog.name %></h2>
<p>Breed: <br><%= @dog.breed %></p>
<p>Age: <br><%= @dog.age %></p>
<p>Gender: <br><%= @dog.gender %></p>
<p>Descripton: <br><%= @dog.description %></p>

<h2>Adopt Me- I filled out my own paperwork!</h2>
<h1>(if you adopt me, I'll even change my name!)</h1>
<form class="form adoption" action="dogs/adopt" method="post">
  <label for="dog[name]">My Name:</label>
  <input type="text" name="dog[name]" value=<%= @dog.name %>>
  <label for="dog[breed]">My Breed:</label>
  <input type="text" name="dog[breed]" value=<%= @dog.breed %> readonly>
  <label for="dog[age]">My Age:</label>
  <input type="text" name="dog[age]" value=<%= @dog.age %> readonly>
  <label for="dog[gender]">My Gender:</label>
  <input type="text" name="dog[gender]" value=<%= @dog.gender %> readonly>
  <label for="dog[description]">About Me:</label>
  <textarea name="dog[description]" rows="8" cols="80" value=<%= @dog.description %>  readonly><%= @dog.description %></textarea>
  <input type="submit" name="Submit" value="Adopt Me!">
</form>
